
@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color: blue;
}

a:hover {
    color: blue;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}


form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
form  span {
    margin-top: 2%;
    color: blue;
}
ul  {
    
    margin-top: 6.5%;
    color: blue;
}

#content {
    padding:0 100px;
    overflow:hidden;
}


#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width:18%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    height: 200px;
    margin-bottom:8px;
}

.photos {
    grid-column: 1/3;
    grid-gap: 5px;
}

.details {
    grid-column: 3/4;
    position: relative;
    z-index: 1;
}
.thumbnail > img {
    width: 450px;
    height: 450px;
    margin: 5px;
}

.multiple-images > img {
    float: left;
    margin: 5px;
    width: 450px;
    height: 450px;
}

.product-detail {
    text-align:justify;
    display: grid;
    grid-gap: 10px;

}
.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}


.line   {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 22%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em
}
#signup, .login  {
    border: none;
}
#signup > a {
    color: #FFFFFF;
}
.login {
    margin-top: 150px;
    margin-left: -323px;
}
.signup1 {
    float: right;
    width: 300px;

}
.alogin{
    color: #ffffff;
}
.return-btn{
    border: none;
}
.return-btn > a {
    color: #FFFFFF;
}
p span  {
    background: #fff;
    padding: 0 10px;
}
.login-home{
    color: blue;
}
button{
    font-weight:bold;
    background: blue;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
    border-radius: 15px;
}
a, li{
    display:inline;
    text-decoration: none;
    justify-content: space-between;
}


form {
    margin-left: 10%;
    border: double 3px blue;
}
.posthousehere, .posthousehere > a {
    border: none;
    color: #FFFFFF;
}
.edithousehere {
    border: none;
    margin-left: 50px;

}
.edithousehere > a {
    color: #FFFFFF;
}
nav {
    width: 100vw;
    height: 10vh;
    background-color: blue;
    
}
nav > a {
    float: right;
    margin-right: 30px;
    color: #FFFFFF;
    height: 60px;
    line-height: 60px;
    text-align: center;
    justify-content: space-between;

}
nav > a:hover {
    font-size: 2.6em;
    color: #FFFFFF;
}
.co-name {
    text-align: center;
}
.logout {
    background: red;
    border: none;
}
.logout > a {
    color: #FFFFFF;
}
.my-houses {
    float: left;
    width: 20%;
}
.my-housesTitle {
    width: 200px;
    text-align: justify;
}

.my-housesImg {
    width: 200px;
    height: 150px;
}
.addHouseButton {
    margin-top: 300px;
    border: none;
}
h1, h3 {
    text-align: center;
}
.description {
    margin-top: 10px;
    margin-right: 600px;
    border: solid 2px blue;
}
.message {
    color: #FFFFFF;
    font-size: 1.4em;
    text-align: center;
    grid-row: 2/3;
}
.message-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 10vh;
    background-color: blue;
}
.delete {
    background-color: red;
    color: #FFFFFF;
    width: 30px;
    height: 10px;
}
.delete-btn {
    border: none;
    background: red;

}
.edit_form {
    margin-top: 30px;
    height: fit-content;
    width:fit-content;
}
.search_icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: -13px;
    margin-left: -15px;
}
.search {
    border: none;
}
.search-input   {
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
}
.footer {
    color: blue;
    font-style: italic;
    text-align: center;
}
.logo {
    width: 95px;
    height: 95px;
    margin-bottom: -50px;
}
.price {
    color: blue;
}
.contacts {
    text-align: left;
}
.pay_now {
    background-color: blue;
    border: none;
    color: #FFFFFF;
}
.paylink {
    width: fit-content;
}
.password-reset > {
    color: #FFFFFF;
}
.edit_delete {
  color:#0000ff; 
  font-style: italic;
  font-weight:800; 
}
.back {
    font-size: xx-large;
}
.link {
    font-weight: 600;
    font-size:xx-large;
    
}

@media only screen and (max-width: 480px)    {
    /*for mobile phones*/

}
@media only screen and (max-width: 768px)   {
    /*for ipads and tablets*/
}
@media only screen and (max-width: 1024px)  {
    /*for smaall screens and laptops*/
}
@media only screen and (max-width: 1200px)  {
    /*for Desktops, large screens*/
}
@media only screen and (min-width: 1201px)  {
    /*for extra large screens*/
}