{% extends 'Agency/base.html' %}
{% load static %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ house.title }}</h1>
        
        </h2>
        <p>Posted by: {{ house.user }}</p>
        <p class="price">KSh{{ house.monthly_rent }}</p>
        {{ house.description|linebreaks }}
        <p>The house is {{ house.available }}ly available.</p>
        <p>Please contact the owner at 0{{ house.owners_contact }}.</p>
    </div>
{% endblock %}