{% extends 'Agency/base.html' %}
{% load static %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <a class="back" href="{% url "frontpage" %}">&lt;&lt;BACK</a>
        <h2>{{ house.title }}</h2>
        
        <div class="photos">
            <div class="thumbnail">
                <img src="{% if house.thumbnail %}{{house.thumbnail.url}}{% else %}
                {% static "img/no_image.png" %}{% endif %}">
                    
            </div>
            <div class="multiple-images">
                {% for image in images %}
                    <img src="{{ image.images.url }}" alt="images of the house">
                {% endfor %}
            </div>
        </div>
        <div class="details">
                       
            <p>Posted by:<strong> {{ house.user }}</strong></p>
            <p class="price">KSh<strong>{{ house.monthly_rent }}</strong>/Month</p>
            {{ house.description|linebreaks }}
            <p>Please contact the owner at <strong>0{{ house.owners_contact }}</strong> for viewing.</p>
            
        </div>
        
    </div>
{% endblock %}