{% extends 'Agency/base.html' %}
{% load static %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <div>
            {% if house.thumbnail %}
                <img src="{{ house.thumbnail.url }}"> {% else %}{% static "img/no_image.png" %}
            {% endif %}
            {% for image in images %}
                <img src="{{ image.images.url }}" alt="images of the house">
            {% endfor %}

        </div>
        <h1>{{ house.title }}</h1>
        
        </h2>
        <p>Posted by: {{ house.user }}</p>
        <p class="price">KSh{{ house.monthly_rent }}</p>
        {{ house.description|linebreaks }}
        <p>The house is {{ house.available }}ly available.</p>
        <p>Please contact the owner at 0{{ house.owners_contact }}.</p>
    </div>
{% endblock %}