{% extends "Agency/base.html" %}

{% block title %}Payment canceled{% endblock %}

{% block content %}
    <h1>Your payment has not been processed</h1>
    <p class="paycancel">There was a problem processing your payment.</p>
    <form class="paylink" action="{% url "payments:process" %}" method="post">
        <div><input class="pay_now" type="submit" value="Try Again!"></div>
        {% csrf_token %}
    </form>
    <p><button class="logout"><a href="{% url "logout" %}">Log Out</a></button></p>
{% endblock %}