{% extends 'Agency/base.html' %}

{% block title %}
    {% firstof house.user.get_full_name user.username %}
{% endblock %}

{% block content %}

    <h1>{% firstof house.user.get_full_name user.username %}</h1>
    
    <div>

        {% for house in houses.user.all %}
        <a class="afrontpage" href="{{ house.get_absolute_url }}">
            <img src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}{% 
static "img/no_image.png" %}{% endif %}">
        </a>
        <h2>{{ house.title }}</h2>
            <p>{{ house.monthly_rent }}</p>
        {% endfor %}
    </div>
{% endblock %}