{% extends 'Agency/base.html' %}

{% block title %}User Admin Site{% endblock %}

{% block content %}
    <h3>User Admin Site</h3>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} <button class="logout"><a href="{% url "logout" %}">Log Out</a></button></p>
        <p>Kindly click <a href="{% url "payments:process" %}">here</a> to pay so that you can add a house to this website.</p>
        
        
    {% else %}
        <p>You are not logged in.</p>
        <a class="alogin" href="{% url "login" %}"><span class="login-home">Log In</span></a>
    {% endif %}

    
    
    <h2>My Houses</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="message-container">
                <h4 class="message">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}

    {% if houses %}
        {% for house in houses %}
                <div class="my-houses">
                    
                    <a class="afrontpage" href="{% url 'edit_house' house.id %}">
                        <img class="my-housesImg" src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}{% 
            static "img/no_image.png" %}{% endif %}">
                    </a>
                    <br>
                    <a class="my-housesTitle" href="{{ house.get_absolute_url }}">{{ house.title }}</a>
                    <br>
                    KSh{{ house.monthly_rent }}
                </div>
        {% endfor %}
    {% else %}
        <p>You've not added any houses...</p>
    {% endif %}

{% endblock %}