{% extends 'Agency/base.html' %}
{% load static %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ house.title }}</h1>
        <h2>
            <a href="{{ house.location.get_absolute_url }}">
                {{ house.location }}
            </a>
        </h2>
        <p class="price">KSh{{ house.monthly_rent }}</p>
        {{ house.description|linebreaks }}
    </div>
{% endblock %}