{% extends 'Agency/base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    
    <h1><strong>About</strong></h1>
    <h3 class="contacts"><strong>Our Contacts</strong></h3>
    <p><strong>Mobile Number:</strong> 0723 388724</p>
    <p><strong>Email:</strong> kamayugehouselettingAgency@gmail.com</p>
    <hr>
    <p>Lorem ipsum dolor sit amet. Et fugit consequatur sit laborum quia est reprehenderit beatae a incidunt cupiditate ut recusandae soluta aut odit atque. Ut omnis aperiam 33 dolore porro ex blanditiis esse non commodi esse eum repellat esse?</p>

    <p>Et saepe perspiciatis sit repellat labore sed eligendi nesciunt et doloribus dolorum. Eum sint fuga a possimus quia quo dolor maxime quo odio quibusdam!</p>
        
    <p>Sit quia iusto est similique doloribus quo deserunt maxime ex incidunt fugit? Rem error laboriosam 33 natus explicabo aut repudiandae optio non voluptatem quia. Et minima quibusdam et itaque iure aut voluptate minima.</p>
{% endblock %}