{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Kamayuje House Letting Agency</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <img class="logo" src="{% static "img/logo.png" alt="logo" %}">
    <h1 class="co-name">Kamayuje House Letting Agency</h1>
    <nav>
            <a href="{% url "about" %}">About</a>
            <a href="{% url "user_admin" %}">Post a house</a>
            <a href="/">Home</a>  
            <div class="search">
                <form method="get" action="/search/">
                    <input class="search-input" type="search" name="query" placeholder="Search...">
                    <button class="search">Search</button>
                </form>
            </div>          
    </nav>
   

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <br>
    <hr>
    <footer>
        <p class="footer">Connecting tenants with landlords.</p>
    </footer>
</body>
</html>