{% extends "Agency/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    
    <form method="post" actions="." enctype="multipart/form-data">
        <h3>{{ title }}</h3>
        {% csrf_token %}

        {{ form.as_p }}

        {% if house %}
            <button class="delete-btn"><a class="delete" href="{% url "delete_house" house.id %}">Delete House</a></button>
        {% endif %}
        <button class="addHouseButton">Submit</button>
    </form>
    
{% endblock %}
