{% extends "Agency/base.html" %}
{% load static %}

    {% block title %}
        {% if location %}{{location.locationName}}{% else %}Houses{% endif %}
    {% endblock %}

    {% block content %}
        
        <div id="sidebar">
            <h3>Locations</h3>
            <ul>
                <li {% if not locations %}class="selected"{% endif %}>
                    <a href="{% url "Agency:house_list" %}">All</a>
                </li>
                {% for l in categories %}
                    <li {% if location.slug == l.slug %}class="selected"
                    {% endif %}>
                        <a href="{{ l.get_absolute_url }}">{{ l.locationName }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="main" class="product-list">
            <h1>{% if location %}{{ location.locationName }}{% else %}Houses
            {% endif %}</h1>
            {% for house in houses %}
                <div class="item">
                    <a class="afrontpage" href="{{ house.get_absolute_url }}">
                        <img src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}{% 
            static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a class="afrontpage" href="{{ house.get_absolute_url }}">{{ house.title }}</a>
                    <br>
                    KSh{{ house.monthly_rent }}
                </div>
            {% endfor %}    
        </div>
    {% endblock %}