{% extends "Agency/base.html" %}
{% load static %}

    {% block title %}
        Houses
    {% endblock %}

    {% block content %}

        
        <div id="main" class="product-list">
            <h1>Houses To Let</h1>
            <h2>
                {% include "Agency/pagination.html" with page=listing %}
            </h2>
            {% for house in listing %}
                <div class="item">
                    <a class="afrontpage" href="{{ house.get_absolute_url }}">
                        <img src="{% if house.thumbnail %}{{ house.thumbnail.url }}{% else %}{% 
            static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a class="afrontpage" href="{{ house.get_absolute_url }}">{{ house.title }}</a>
                    <br>
                    KSh{{ house.monthly_rent }}/Month
                </div>
            {% endfor %}
                
        </div>
    {% endblock %}